name: Upload Python Package

on:
  release:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install twine sdist bdist_wheel
    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        rm -rf build/ dist/ *.egg-info
        python setup.py sdist bdist_wheel
        twine check dist/*
        twine upload dist/*
